name: "Lint"

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"

    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6.0.0"

        - name: "Set up Python"
          uses: actions/setup-python@v6.0.0
          with:
            python-version: "3.13"
            cache: "pip"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.txt

        - name: "Run Ruff"
          uses: chartboost/ruff-action@v1
          with:
            args: 'check --output-format github'
